$color-white: white;
$color-black: black;
$color-pink: pink;
$color-orange: orange;
$color-gray: gray;

// FONT FAMILY 
$font-family-1: 'Great Vibes', cursive;
$font-family-2: 'Kanit', sans-serif;
$font-family-3: 'Pacifico', cursive;
$font-family-4: 'Roboto', sans-serif;