body{
    display: grid;
    grid-template-columns: 100%;
    // grid-template-rows: 100vh 90vh 80vh 50vh 50vh;
    // grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "ourStory"
    "shopNow"
    "promotion"
    "footer";
}
// @media (max-width:1000px) {
//     body{
//         grid-template-rows: 100vh 110vh 120vh 50vh 50vh;

//     }
// }
.header{
    grid-area: header;
}
.section-ourStory{
    grid-area: ourStory;
}
.section-shop{
    grid-area: shopNow;
}
.section-promotion{
    grid-area: promotion;
}
.footer{
    grid-area: footer;
}

.grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: 20rem;
    gap: 1rem;
}